[user]
	name = hsiaofung
	# email = tim_chou@chowsangsang.com
[credential]
	helper = manager
[http]
	# sslVerify = false
	# proxy = http://192.168.201.201:3128
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	cm = commit
	sh = stash
	r = reset
	v = revert
	co = checkout
	ac = !git add -A && git commit
	st = status -sb
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	u = pull
	p = push
	m = merge
	d = branch -D
	b = branch
[sendemail]
	# smtpencryption = SSL
	# smtpserver = twsmtps.chowsangsang.com	
    # smtpserverport = 25
	# from = tim_chou@chowsangsang.com
	# to = tim_chou@chowsangsang.com, klaus.li.h.w@chowsangsang.com
    



